@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/construcaoestudonauta/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* Cores soletadas no Adobe Color
    Do mais quente ao mais frio:
    #FF2E34
    #FF656E
    #FFC700
    #F4DB67
    #E9E8E4
*/

:root{
    --ver: #FF2E34;
    --ver2: #FF656E;
    --ama: #FFC700;
    --ama2: #F4DB67;
    --bra: #E9E8E4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'Cursive';
}

* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: var(--bra);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--ama), var(--ama2));
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color:var(--ver);
    font-family: var(--fonte-android);
    font-size: 3em;
    text-shadow: 1px 1px 2px rgb(39, 38, 38); 
}

header > p {
    color:white;
    font-weight: bolder;
    font-family: var(--fonte-destaque);
    font-size: 2.2em;
    text-shadow: 2px 2px 3px rgb(39, 38, 38);
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

nav {
    background-image: linear-gradient(to bottom, var(--ver2), var(--ver));
    padding: 10px; /*para deixar o menu mais largo*/
    box-shadow: 1px 5px 5px rgb(88, 88, 88);
}

nav > a {
    color: white;
    padding: 10px; /*Para dar um espaço entre os nomes*/
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav > a:hover {
    padding: 10px;
    background-color: var(--ver2);
    border-radius: 5px;
    color: var(--ama2);

}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 3px 3px 15px gray;
}

main h1 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--ama2), transparent);
    color: var(--ver);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--ver);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--ama2), transparent);
}

main img.media {
    width: 150px;
    display: block;
    margin: auto; 
    padding: 15px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*Espaço na primeira linha do parágrafo*/
    line-height: 2em; /*Altura da linha, entre uma linha e outra. Espaçamento*/
}

article p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*Espaço na primeira linha do parágrafo*/
    line-height: 2em; /*Altura da linha, entre uma linha e outra. Espaçamento*/
}

article > iframe {

    width: 100%;
    
}

aside {
    background-color: var(--ama);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(119, 118, 118);
}

aside h3 {
    background-image: linear-gradient(var(--bra), transparent);
    color: var(--ver);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-android);
}

footer {
    background-color: var(--ver);
    color:white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--ama);
}

